body {
    background-color: #e2d5de;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.to-do-list {
 border-radius: 20px;
 background-color: white;
 margin: 340px;
 margin-top: 100px;
}

* {
  box-sizing: border-box;
}


ul {
  padding: 0;
  border-radius: 30px;
  list-style: none;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  padding: 30px 40px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
@media screen and (max-width: 1439px) {
  .to-do-list {
    margin: 300px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1280px) {
  .to-do-list {
    margin: 250px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .to-do-list {
    margin: 200px;
    margin-top: 100px;
  }

}
@media screen and (max-width: 768px) {
  .to-do-list{
    margin: 150px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .to-do-list{
    margin: 100px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 420px) {
  .to-do-list {
    margin: 50px;
    margin-top: 50px;
  }
}